ProxyRequests Off
RewriteEngine On

<VirtualHost *:80>
    Redirect "/" "https://{{ ansible_fqdn }}"
</VirtualHost>

<VirtualHost *:443>
    ServerAlias {{ ansible_fqdn }}

    RewriteCond %{HTTP_HOST} !{{ ansible_fqdn }} [NC]
    RewriteRule (.*) https://{{ ansible_fqdn }}%{REQUEST_URI} [R,L]

    SSLCertificateKeyFile   "/etc/pki/tls/private/{{ ansible_fqdn }}.pem"
    SSLCertificateFile      "/etc/pki/tls/certs/{{ ansible_fqdn }}.pem"
    SSLCertificateChainFile "/etc/pki/ca-trust/source/anchors/ca.crt"

    ProxyPreserveHost On
    ProxyPass        / http://localhost:8090/ connectiontimeout=5 timeout=300
    ProxyPassReverse / http://localhost:8090/
</VirtualHost>
