<Server port="8000" shutdown="SHUTDOWN" debug="0">
    <Service name="Tomcat-Standalone">


        <Connector port="8090"
            connectionTimeout="20000"
            maxThreads="200"
            minSpareThreads="10"
            enableLookups="false"
            acceptCount="10"
            debug="0"
            URIEncoding="UTF-8"

            address="localhost"
            proxyName="{{ ansible_fqdn }}"
            proxyPort="443"
            secure="true"
            scheme="https"
        />

        <Engine name="Standalone" defaultHost="localhost" debug="0">

            <Host name="localhost" debug="0" appBase="webapps" unpackWARs="true" autoDeploy="false">

                <Context path="" docBase="../confluence" debug="0" reloadable="false" useHttpOnly="true">
                    <!-- Logger is deprecated in Tomcat 5.5. Logging configuration for Confluence is specified in confluence/WEB-INF/classes/log4j.properties -->
                    <Manager pathname="" />
                </Context>
            </Host>

        </Engine>

    </Service>
</Server>
