LogLevel Debug
ErrorLog /var/log/httpd/crowd_error
CustomLog /var/log/httpd/crowd_access common

ProxyRequests Off
RewriteEngine On

<VirtualHost *:80>
    Redirect "/" "{{ ansible_fqdn }}/"
</VirtualHost>

<VirtualHost *:443>
    ServerAlias {{ ansible_fqdn }}

    RewriteCond %{HTTP_HOST} !{{ ansible_fqdn }} [NC]
    RewriteRule (.*) https://{{ ansible_fqdn }}%{REQUEST_URI} [R,L]

    SSLCertificateKeyFile   "/etc/pki/tls/private/{{ ansible_fqdn }}.pem"
    SSLCertificateFile      "/etc/pki/tls/certs/{{ ansible_fqdn }}.pem"

    ProxyPreserveHost On
    ProxyPass        / http://localhost:8095/ connectiontimeout=5 timeout=300
    ProxyPassReverse / http://localhost:8095/
</VirtualHost>
