ServerRoot "/usr"
ServerName {{ ansible_fqdn }}
ServerTokens ProductOnly
ServerSignature Off
Listen 80
PidFile /var/run/httpd.pid

TraceEnable Off

LoadModule authn_file_module lib64/httpd/modules/mod_authn_file.so
LoadModule autoindex_module lib64/httpd/modules/mod_autoindex.so
LoadModule dir_module lib64/httpd/modules/mod_dir.so
LoadModule alias_module lib64/httpd/modules/mod_alias.so
LoadModule rewrite_module lib64/httpd/modules/mod_rewrite.so
LoadModule authz_host_module lib64/httpd/modules/mod_authz_host.so
LoadModule authz_groupfile_module lib64/httpd/modules/mod_authz_groupfile.so
LoadModule authz_user_module lib64/httpd/modules/mod_authz_user.so
LoadModule auth_basic_module lib64/httpd/modules/mod_auth_basic.so
LoadModule reqtimeout_module lib64/httpd/modules/mod_reqtimeout.so
LoadModule filter_module lib64/httpd/modules/mod_filter.so
LoadModule mime_module lib64/httpd/modules/mod_mime.so
LoadModule log_config_module lib64/httpd/modules/mod_log_config.so
LoadModule env_module lib64/httpd/modules/mod_env.so
LoadModule headers_module lib64/httpd/modules/mod_headers.so
LoadModule setenvif_module lib64/httpd/modules/mod_setenvif.so
LoadModule version_module lib64/httpd/modules/mod_version.so
LoadModule authnz_ldap_module /usr/lib64/httpd/modules/mod_authnz_ldap.so
LoadModule ldap_module /usr/lib64/httpd/modules/mod_ldap.so
