# BITBUCKET PROPERTIES
jdbc.driver=org.postgresql.Driver
jdbc.url=jdbc:postgresql://localhost:5432/bitbucket
jdbc.user=atlbitbucket
jdbc.password=NloSD7X4TbZlpInSKtwW

server.proxy-name={{ ansible_fqdn }}
server.proxy-port=443
server.secure=true
compression="on"
compressableMimeType="text/html,text/xml,text/plain,text/css,application/json,application/javascript,application/x-javascript"
server.scheme=https

# Whether SSO support should be enabled or not. Regardless of this setting SSO authentication
# will only be activated when a Crowd directory is configured in Bitbucket Server that is configured
# for SSO.
plugin.auth-crowd.sso.enabled=true

# added by Jay - disable using git alternates so we can fork and fork and fork
plugin.bitbucket-git.forks.usealternates=false
